
.class-list{
    border-radius: 10px;
    border: solid black 1px;
}

.class-active{
    padding: 5px;
}


.class-image{
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.class-student-icon{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: solid black 1px;
}