
.header{
    background-color: var(--main-blue);
    height: 100px;
    right: 0;
    top: 0 !important;
    left: 0 ;
    width: 100%;
}

.header-button{
    background-color: var(--secondary-blue);
    height: 90%;
    width: 100%;
    border: none;
    border-radius: 5px;

}

.header-secondary{
    background-color: #eee;
    height: 100px;
    right: 0;
    top: 0 !important;
    left: 0 ;
    width: 100%;
}
