
@import url(post.css);
@import url(calendar.css);
@import url(classes.css);
@import url(header.css);
@import url(avisos.css);
@import url(perfil.css);
@import url(mainHome.css);
@import url(footer.css);
@import url(login.css);

:root{
    --main-blue: #0064D0;
    --thin-border: solid 1px #ccc;
    --left-right-margin: 0px 5px 0px 5px;
    --secondary-blue: #0A58CA;
    
}
@font-face{
    font-family: 'google';
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'edmodo';
    src: url(../fonts/GT-Eesti-Display-Medium-Trial.woff2);
}

*{
    font-family: 'edmodo';
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--main-blue);
    --bs-btn-border-color: var(--main-blue);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.btn-secondary{
    --bs-btn-color: #000;
    --bs-btn-bg: #ddd;
    --bs-btn-border-color: #ccc;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ccc;
    --bs-btn-hover-border-color: #ccc;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ccc;
    --bs-btn-active-border-color: #ccc;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #aaa;
    --bs-btn-disabled-border-color: #aaa;
}

.form-control:disabled {
    background-color: #fff;
    opacity: 1;
}

.body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x:hidden;
    overflow-y:hidden;
    align-items: center;
    justify-content: center;
    background-size:100vw;
}

@media  (max-width: 1200px) {
    .body{
        overflow-y:auto;
    }

    .main{
        overflow-y: auto;
    }
    
}





