


.body-login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x:hidden;
    overflow-y:hidden;
    background-image: url("../files/logos/estampado.png");
    background-size: 100vw;
}

/* LOGIN */

.box{
    width: 450px;
    background-color: #eee;
    -webkit-box-shadow: 21px 21px 36px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 21px 21px 36px -1px rgba(0,0,0,0.5);
    box-shadow: 21px 21px 36px -1px rgba(0,0,0,0.5);
    padding: 25px;
}

.login{
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;

}

.comp-register{
    border-radius: 5px;
}

.register-button{
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    width:450px;
    background-color: var(--main-blue);
    padding: 10px;
    border: none;

    -webkit-box-shadow: 21px 21px 36px -1px rgba(0,0,0,0.5);
-moz-box-shadow: 21px 21px 36px -1px rgba(0,0,0,0.5);
box-shadow: 21px 21px 36px -1px rgba(0,0,0,0.5);
}
.register-button:hover{
    background-color: #ccc;
}

.rounded-start{
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border: none;
    background-color: #ccc;
    padding: 5px;
    margin-right:3px;

}

.rounded-end{
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border: none;
    background-color: var(--main-blue);
    padding: 5px;
    margin-left:3px;

}


.google-button{
    text-decoration: none !important;
    color: black !important;
    font-family: 'google';

    background-color: #ddd;
    padding: 20px;
    width: 450px;
    text-align: center;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    
    -webkit-box-shadow: 21px 21px 36px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 21px 21px 36px -1px rgba(0,0,0,0.5);
    box-shadow: 21px 21px 36px -1px rgba(0,0,0,0.5);
}

.google-button:hover{
    background-color: #ccc;

}

.wrong{
    border: solid 1px red;
}

.rolbutton{
    height: 200px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-box-shadow: 10px 10px 36px -1px rgba(0,0,0,0.1);
    -moz-box-shadow: 10px 10px 36px -1px rgba(0,0,0,0.1);
    box-shadow: 10px 10px 36px -1px rgba(0,0,0,0.1);
}

.rolbutton img{
    height: 100px;
}

.rolbutton:hover{
    background-color: #ddd;

}


